
h1 {
  text-transform: uppercase;
}


.spacing-1 {
    margin-top: 5em;
}

.spacing-2 {
    margin-top: 1em;
}

.center {
    text-align: center;
}

.text-accent {
    color: #727272;
}

.spacing-1 {
    margin-top: 5em;
}

.spacing-2 {
    margin-top: 1em;
}

.center {
    text-align: center;
}

.text-accent {
    color: #727272;
}

.todoizq{
    align-items: LEFT;
}

.categoria{
    display: flex;
    justify-content: center;
    flex-direction: center;
    margin-bottom: 100px;
}
.centeritems{
    display: flex;
    justify-content: center;
    flex-direction: center;
    margin-bottom: 100px;
}
.producto{
    display: flex;
    align-self: flex-end;
    justify-content: center;
    flex-direction: center;
    margin-bottom: 100px;
}
.imagen{
    width: 100px;
    height: 100px;
}

#ventas{
    border: medium;
    border-radius: 5px;
    border-style: double;
    border-color: black;
     display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 80px;
}

.slider{
    width: 100px;
    height: 100px;
}

.fieldsnumber {
	background-color: rgb(144, 144, 144, 0.25);
	border: 0px solid #A8A8A8;
}

#total {
	background-color: rgb(144, 144, 144, 0.25);
    border: 0px solid #A8A8A8;
 
}
#fieldblack{
	background-color: rgb(144, 144, 144, 0.25);
    border: 0px solid #A8A8A8;
 
}
#readinput {
	background-color: rgb(144, 144, 144, 0.25);
    border: 0px solid #A8A8A8;
 
}

/*Leer mas*/

.myForm{
    background-color: rgba(0,0,0,0.5) !important;
    padding: 15px !important;
border-radius: 15px !important;
color: white;

}

input{
    border-radius:0 15px 15px 0 !important;

}
input:focus{
    outline: none;
box-shadow:none !important;
border:1px solid #ccc !important;

}

textarea{
    border-radius:0 15px 15px 0 !important;

}
textarea:focus{
    outline: none;
box-shadow:none !important;
border:1px solid #ccc !important;

}

.br-15{
    border-radius: 15px 0 0 15px !important;
}

#add_more{
    color: white !important;
    background-color: #fa8231 !important;
    border-radius: 15px !important;
    border: 0 !important;

}



#add_new{
    color: white !important;
    background-color: #0058fc !important;
    border-radius: 15px !important;
    border: 0 !important;
    width:60px !important;
    height:30px !important;

}

#edit{
    color: white !important;
    background-color: #fa8231 !important;
    border-radius: 15px !important;
    border: 0 !important;
    width:60px !important;
    height:28px !important;
}

#close{
    width:60px !important;
    height:54px !important;
}

#delete{
    color: white !important;
    background-color: #fc0000 !important;
    border-radius: 15px !important;
    width:60px !important;
    height:30px !important;

}

#check{
    color: white !important;
    background-color: #20a100 !important;
    border-radius: 15px !important;
    width:60px !important;
    height:30px !important;

}

#remove_more{
    color: white !important;
    background-color: #fc5c65 !important;
    border-radius: 15px !important;
    border: 0 !important;
    display: none;

}
    
.submit_btn{
    border-radius: 15px !important;
 background-color: #95c714 !important;
 border: 0 !important;
}

.danger_btn{
    border-radius: 15px !important;
 background-color: #ff1e00 !important;
 border: 0 !important;
}
